@import "~bootstrap/scss/bootstrap";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
        background-color: black;

}

h1 {
    color: white;
    margin-bottom: 2rem;
}

.table-container {
        display: flex;
        justify-content: center;
        align-items: center;
}


 table {
        border-collapse: collapse;
    }

    th,
    td {
        padding: .7rem;
        color: orange;
    }

    th {
        font-size: 1.4rem;
    }

    td {
                border: 1px orange;
                border-style: dotted;

    }
